page-reset-pass2 {
   .one
    {
        background-color: #000033;
        width: 130%;
        height: 50px;
        margin: -16px;
        margin-bottom: 20px;
    }
    ion-icon 
    {
        padding: 15px;
        color: white;
        display: inline;
        position: relative;
        top: 13px;
    }
    h3 
{
    color: white;
    position: relative;
    left: 70px;
    top: -25px;
}

p 
{
    font-weight: bold;
}

}
